
@using MVCWebAppIsmane.Repositories.IRepositories;


@inject ICategoryRepository CategoryRepository

@{
    string token = Context.Request.Cookies["JWT"];
}

@{
    var categories = await CategoryRepository.GetAll();
}



<!DOCTYPE html>
<html>
<head>
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MVCWebAppIsmane</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />        
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/style/header.css" asp-append-version="true" />
    
   <style>
       .ii{
           visibility:!important;
       }
   </style>
</head>
<body>





    <header class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" asp-action="Index" asp-controller="Product">
                    <img src="~/public/logoApp.jpeg" alt="MVCWebAppIsmane" class="logo-img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="col-lg-6">
                        <form id="search-form" asp-controller="Product" asp-action="SearchByCategory" method="get">
                            <div class="input-group search-bar">
                                <select id="category-select" name="categoryId" class="form-select input-group-text rounded-start"
                                        onchange="this.style.width = null">
                                    <option selected value="0">Choose category</option>
                                    @foreach (var category in categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <input id="search-input" name="searchTerm" type="text" class="form-control rounded-end"
                                       placeholder="Search products..." aria-label="Search products">
                                <button type="submit" class="btn btn-primary" aria-label="Search">
                                    <i class="bi bi-search ii"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link cart-icon-with-badge" asp-controller="Panier" asp-action="Index" aria-label="View cart">
                                <i class="fas fa-shopping-cart fa-2x cart-icon-white" style="color: white;"></i>
                                <span class="badge rounded-pill bg-danger">Cart</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            @* <a class="btn btn-primary sign-in-btn" asp-controller="LoginVM" asp-action="SignIn" role="button" aria-label="Sign in">Sign In</a> *@
                            @if(token == null)
                            {                 
                                @* <p> => @token</p> *@
                                <a class="btn btn-primary sign-in-btn" asp-controller="LoginVM" asp-action="SignIn" role="button" aria-label="Sign in">Sign In</a>
                            }else
                            {
                                @* <p> => @token</p> *@
                                <a class="btn btn-primary sign-in-btn" asp-controller="LoginVM" asp-action="SignIn" role="button" aria-label="Sign out">Sign Out</a>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>



    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MVCWebAppIsmane - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/style/header.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
